@import './scss/bootstrap';
@import './scss/header';

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1 0 auto;
}

#loginCard {
    width: 50%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

@media screen and (max-width:"768px") {
    #loginCard {
        width: 90%;
    }
}

#image-container{
    max-width: 300px;
    max-height: 300px;
    box-shadow: rgba(0, 0, 0, 0.668) 0px 5px 20px;
    border: 10px solid;
    border-color: $primary black $primary black ;
}